body {
  height: 3000px;
  margin-top: 80px;
  background-image:"cat3.webp";
}
.topbar {
  display: flex;
  justify-content: stretch;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 00.5s;
  
}
.border {
  flex: 1;
  min-width: 70px;
  color: black;
  background-color: #f7f7f7;
  padding: 20px 20px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  font-family: Arial;
  font-weight: 700;
  transition: 0.5s ease;
  
}
.border:hover {
  box-shadow: 0 0 0;
  background-color: rgb(192, 122, 243);
  
}

@media only screen and (max-width: 768px)
{
  .topbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    bottom: 0;    
  }
  .border {
    min-width: 100px;
    color: black;
    background-color: #f7f7f7;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    font-family: Arial;
    font-weight: 700;
    transition: 0.5s ease;
    
  }
}




/* .border2 {
  display: flex;
}
p {
  flex: 1;
  min-width: 70px;
  color: black;
  background-color: #f7f7f7;
  padding: 20px 20px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  font-family: Arial;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}
p:hover {
  box-shadow: 0 0 0;
  background-color: rgb(192, 122, 243);

} */


